In [1]:
#Bibliotecas\pacotes
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score, precision_score
from sklearn.utils import resample

In [2]:
cc = pd.read_csv("creditcard.csv")

In [3]:
cc.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
cc.shape

(284807, 31)

In [5]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
cc.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [7]:
Y = cc['Class']

In [8]:
Y.count()

284807

In [9]:
X = cc.drop(['Class'], axis = 1)
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [10]:
Y.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [11]:
#Preparando os conjuntos de dados de train e test.
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.20, random_state = 30)

In [12]:
X_train.shape

(227845, 30)

In [13]:
Y_train.shape

(227845,)

In [14]:
X_test.shape

(56962, 30)

In [15]:
Y_test.shape

(56962,)


> Vamos executar a regressão logística e avaliar as métricas de desempenho

In [16]:
# Regressão Logística
lr_model = LogisticRegression(solver='liblinear').fit(X_train,Y_train)

In [17]:
lr_pred = lr_model.predict(X_test)

In [18]:
print("Métricas de regressão logística:")
print("")
print("Accuracy Score:",accuracy_score(Y_test, lr_pred))
print("F1 Score:", f1_score(Y_test,lr_pred))
print("Recall Score:",recall_score(Y_test, lr_pred))

Métricas de regressão logística:

Accuracy Score: 0.9991222218320986
F1 Score: 0.7474747474747474
Recall Score: 0.6607142857142857

>Vamos executar o Random Forest e avaliar o desempenho das métricas <h1>

In [19]:
#Classificador Random Forest
rf = RandomForestClassifier(n_estimators=10)

In [20]:
rf_model = rf.fit(X_train, Y_train)

In [21]:
rf_pred = rf_model.predict(X_test)

In [22]:
print("Métricas Random Forest:")
print("")
print("Accuracy Score:",accuracy_score(Y_test, rf_pred))
print("Recall Score:", recall_score(Y_test, rf_pred))
print("F1 Score:", f1_score(Y_test, rf_pred))

Métricas Random Forest:

Accuracy Score: 0.9995084442259752
Recall Score: 0.7767857142857143
F1 Score: 0.8613861386138614

>Classe minoritária de oversampling

In [23]:
#concatenar nossos dados de treinamento juntos
X = pd.concat([X_train, Y_train], axis=1)
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
93414,64406.0,1.174064,0.556525,-0.507559,1.116601,0.414206,-0.281208,0.067073,0.109215,-0.204072,...,-0.019706,-0.024754,-0.136988,-0.464710,0.603481,-0.291954,0.041966,0.038768,1.00,0
249357,154371.0,0.054834,0.907661,-1.036560,-0.073671,0.117500,-1.018951,0.610666,0.290287,-0.350575,...,0.414947,1.043702,0.045485,-0.075339,-0.325324,-0.169078,-0.091674,-0.054086,62.90,0
273132,165438.0,-1.146244,-0.011542,1.665540,0.336664,1.164780,-0.670908,0.355551,0.102101,0.253013,...,-0.388502,-1.182458,0.143772,-0.188590,-0.076517,-1.189853,0.126902,0.164425,20.49,0
70837,54038.0,1.470474,-0.793616,-0.017474,-1.392175,-0.929712,-0.821504,-0.459357,-0.306853,-2.344637,...,-0.456092,-0.927945,0.154969,0.041212,0.294964,-0.424831,0.023049,0.017270,31.38,0
49517,44095.0,-0.346320,1.098257,1.279662,0.067734,-0.023686,-0.979913,0.711838,-0.056131,-0.345814,...,-0.264960,-0.717222,0.000981,0.324232,-0.170319,0.072827,0.241724,0.097837,8.66,0

>aplicaremos a função resample do sklearn

In [24]:
not_fraud = X[X.Class==0]
fraud = X[X.Class==1]

# minoria upsample
fraud_upsampled = resample(fraud,
                          replace=True, # Amostra com reposição
                          n_samples=len(not_fraud), # corresponde ao número na classe majoritária
                          random_state=27) # resultados reprodutíveis

# combina maioria e minoria upsampled
upsampled = pd.concat([not_fraud, fraud_upsampled])

# verificar novas contagens de classe
upsampled.Class.value_counts()

0    227465
1    227465
Name: Class, dtype: int64

>Podemos ver que as linhas Fraud e Non Fraud são iguais em contagem. Agora vamos executar o algoritmo do classificador e verificar se o parâmetro da métrica foi alterado ou não.

In [25]:
y_train = upsampled.Class
X_train = upsampled.drop('Class', axis = 1)

In [26]:
X_train.shape

(454930, 30)

In [27]:
y_train.shape

(454930,)

In [28]:
#Regressão Logística
lr_model2 = LogisticRegression(solver='liblinear').fit(X_train,y_train)

In [29]:
lr_pred2 = lr_model2.predict(X_test)

In [30]:
print("Métricas de regressão logística após sobreamostragem classe minoritária:")
print("")
print("Accuracy Score:",accuracy_score(Y_test, lr_pred2))
print("F1 Score:", f1_score(Y_test,lr_pred2))
print("Recall Score:",recall_score(Y_test, lr_pred2))

Métricas de regressão logística após sobreamostragem classe minoritária:

Accuracy Score: 0.9720866542607353
F1 Score: 0.11173184357541902
Recall Score: 0.8928571428571429

In [31]:
#Classificador Random Forest
rf = RandomForestClassifier(n_estimators=10)

In [32]:
rf_model2 = rf.fit(X_train, y_train)

In [33]:
rf_pred2 = rf_model2.predict(X_test)

In [34]:
print("Métricas random forest após classe minoritária de sobreamostragem:")
print("")
print("Accuracy Score:",accuracy_score(Y_test, rf_pred2))
print("Recall Score:", recall_score(Y_test, rf_pred2))
print("F1 Score", f1_score(Y_test, rf_pred2))

Métricas random forest após classe minoritária de sobreamostragem:

Accuracy Score: 0.9994557775359011
Recall Score: 0.75
F1 Score 0.8442211055276381

>Se observarmos aqui, após o Oversampling da classe minoritária, a precisão foi reduzida, mas o Recall aumentou significativamente, o que atende a alguns de nossos propósitos de modelo de classificação. A porcentagem de FN (Falso Negativo) diminuiu muito.
>
>A rechamada é definida como TP / (TP + FN)
>
>**3. Geração de Amostras Sintéticas - SMOTE (Synthetic Minority Oversampling Technique)**
>
>* Uma técnica semelhante ao upsampling é criar amostras sintéticas. Aqui, usaremos o SMOTE ou Synthetic Minority Oversampling Technique da imblearn. O SMOTE usa um algoritmo de vizinhos mais próximos para gerar dados novos e sintéticos.
>
>* Funciona criando amostras sintéticas da classe secundária (sem assinatura) em vez de criar cópias. Escolhe aleatoriamente um dos k vizinhos mais próximos e usá-lo para criar novas observações semelhantes, mas ajustadas aleatoriamente.

In [35]:
from imblearn.over_sampling import SMOTE

In [39]:
# Recursos de entrada separados e destino
y = cc.Class
X = cc.drop('Class', axis=1)

# configura conjuntos de teste e treinamento
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=27)

sm = SMOTE(random_state=27, sampling_strategy=1.0)
X_train, y_train = sm.fit_resample(X_train, y_train)

>**Executando regressão logística**<h1>

In [40]:
lr_pred_smote = LogisticRegression(solver='liblinear').fit(X_train, y_train)

smote_pred = lr_pred_smote.predict(X_test)

In [41]:
print("Métricas de regressão logística após SMOTE:")
print("")
print("Accuracy Score:",accuracy_score(y_test, smote_pred))
print("F1 Score:", f1_score(y_test,smote_pred))
print("Recall Score:",recall_score(y_test, smote_pred))

Métricas de regressão logística após SMOTE:

Accuracy Score: 0.9834977704434535
F1 Score: 0.1622103386809269
Recall Score: 0.875

>**Executando Random forest**

In [42]:
rf_pred_smote = RandomForestClassifier(n_estimators=10).fit(X_train, y_train)

rf_smote_pred = rf_pred_smote.predict(X_test)

In [43]:
print("Métricas aleatórias do randon forest após SMOTE:")
print("")
print("Accuracy Score:",accuracy_score(y_test, rf_smote_pred))
print("Recall Score:", recall_score(y_test, rf_smote_pred))
print("F1 Score", f1_score(y_test, rf_smote_pred))

Métricas aleatórias do randon forest após SMOTE:

Accuracy Score: 0.9994908886626171
Recall Score: 0.8173076923076923
F1 Score 0.8542713567839197

>*Podemos ver que a pontuação de Recall aumentou significativamente após o SMOTE*
>
>
> **CONCLUSÃO** 
>
> Neste notebook foram usados 3 métodos para conjuntos de dados desbalanceados, foram eles;
>
> 1. Undersampling majority class
> 2. Oversampling minorty class
> 3. Generation Synthetic Samples - SMOTE
>
> Existem muitos métodos para lidar com conjuntos de dados desbalanceados. Temos que escolher o que melhor se adapta ao problemar ressplvido.